<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart | JPBAN</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        .no-items {
            color: #9e9e9e !important;
            font-size: 1.6rem;
            font-weight: 400;
        }
    </style>
</head>

<body>
    <%- include("nav_res"); %>
        <%- include("navbar"); %>

            <div class="cart">
                <a class="carth1" href="/home">
                    <div class="arrow-left"></div>
                    เลือกซื้อสินค้าเพิ่ม
                </a>
                <div class="cartinfo">
                    <div id="price">
                        <span>ราคาสุทธิ</span>
                        &nbsp;
                        <span id="originalPrice">฿0.00</span>
                    </div>
                    <p>ราคานี้ยังไม่รวมค่าจัดส่งเริ่มสั่งซื้อ</p>

                    <div class="cartTable">
                        <table id="cartTable">
                            <tbody>
                                <% if (customcart && customcart.items.length> 0) { %>
                                    <% customcart.items.forEach(cartItem=> { %>
                                        <tr class="cart-item" data-product-id="<%= cartItem.baseProductId._id %>">
                                            <td>
                                                <div class="goods">
                                                    <img src="/images/custom-tshirt.jpg" class="product-img" />
                                                    <div class="product-info">
                                                        <span class="product-name">สินค้าสั่งทำพิเศษ</span>
                                                        <span>สี:
                                                            <span
                                                                style="background-color: <%= cartItem.selectedColor %>; padding: 0 10px; border-radius: 4px;">&nbsp;</span>
                                                        </span>
                                                        <span>ชนิดผ้า: <%= cartItem.fabric %></span>
                                                        <span>รอบอก <%= cartItem.measurements.chest %> นิ้ว</span>
                                                        <span>ความยาว <%= cartItem.measurements.length %> นิ้ว</span>
                                                        <% if (cartItem.additionalInfo) { %>
                                                            <span>รายละเอียดเพิ่มเติม: <%= cartItem.additionalInfo%>
                                                            </span>
                                                            <% } %>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="quantity">
                                                    <button class="minus" type="button"
                                                        onclick="updateQuantity(this, -1)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                            fill="#0d0d0d" viewBox="0 0 256 256">
                                                            <path
                                                                d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                    <span class="amount">
                                                        <%= cartItem.quantity %>
                                                    </span>
                                                    <button class="plus" type="button"
                                                        onclick="updateQuantity(this, 1)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                            fill="#0d0d0d" viewBox="0 0 256 256">
                                                            <path
                                                                d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z">
                                                            </path>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="pricenremove">
                                                    <div class="customprice">
                                                        ฿ ราคาสินค้าจะต้องรอการประเมินจากผู้ขาย
                                                    </div>

                                                    <div class="remove">
                                                        <a href="javascript:void(0)"
                                                            onclick="removeCustomProduct('<%= cartItem._id %>', this)">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                                                height="32" fill="#eb000c" viewBox="0 0 256 256">
                                                                <path
                                                                    d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z">
                                                                </path>
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }) %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="4" class="no-items">ไม่มีสินค้าสั่งทำพิเศษในตะกร้า</td>
                                                </tr>
                                                <% } %>


                            <% if (cart && cart.items && cart.items.length > 0) { %>
                                <% cart.items.forEach(item => { 
                                     const variant = item.productId.variants.find(v => v.color === item.selectedColor);
                                     const sizeStock = variant ? variant.sizes.find(s => s.size === item.selectedSize)?.stock : 0;
                                %>
                                  <tr class="cart-item" data-product-id="<%= item.productId._id %>" data-stock="<%= sizeStock %>">
                                    <td>
                                      <div class="goods">
                                        <img src="<%= item.productId.image?.split('public').at(-1) %>" class="product-img" />
                                        <div class="product-info">
                                          <span class="product-name"><%= item.productId.name %></span>
                                          <span>สี: <%= item.selectedColor %></span>
                                          <span>ไซส์: <%= item.selectedSize %></span>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="quantity">
                                        <button class="minus" type="button" onclick="updateQuantity(this, -1)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="#0d0d0d" viewBox="0 0 256 256">
                                            <path
                                                d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z">
                                            </path>
                                        </svg>
                                        </button>
                                        <span class="amount"><%= item.quantity %></span>
                                        <button class="plus" type="button" onclick="updateQuantity(this, 1)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="#0d0d0d" viewBox="0 0 256 256">
                                            <path
                                                d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z">
                                            </path>
                                        </svg>
                                        </button>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="pricenremove">
                                        <div class="price">฿<%= (item.productId.price).toFixed(2) %></div>
                                        <div class="remove">
                                          <a href="javascript:void(0)" onclick="removeFromCart('<%= item._id %>', this)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32"
                                                                height="32" fill="#eb000c" viewBox="0 0 256 256">
                                                                <path
                                                                    d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z">
                                                                </path>
                                                            </svg>
                                          </a>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                <% }) %>
                              <% } else { %>
                                <tr>
                                  <td colspan="4" class="no-items">ไม่มีสินค้าแบบแนะนำในตะกร้า</td>
                                </tr>
                              <% } %>
                                                    </tbody>
                                                    </table>
                </div>

                    <div class="cartaction">
                        <div class="order">
                            <button class="order-button" onclick="handleOrder()">สั่งซื้อสินค้า</button>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("footer"); %>
                <script>
                    // เช็คว่ามีสินค้าในตะกร้าไหม เวลากดสั่ง
                    const customCartItemCount = <%= customcart && customcart.items ? customcart.items.length : 0 %>;
                    const normalCartItemCount = <%= cart && cart.items ? cart.items.length : 0 %>;
                </script>
                <script src="js/utilities.js"></script>
                <script src="js/cart.js"></script>
</body>

</html>