<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart | JPBAN</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("navbar"); %>

        <div class="cart">
            <a class="carth1" href="/home">
                <div class="arrow-left"></div>
                เลือกซื้อสินค้าเพิ่ม
            </a>
            <div class="cartinfo">
                <div id="price">
                    <span>ราคาสุทธิ</span>
                    &nbsp;
                    <span id="originalPrice">฿0.00</span>
                </div>
                <p>ราคานี้ยังไม่รวมค่าจัดส่งเริ่มสั่งซื้อ</p>

                <div class="cartTable">
                    <table id="cartTable">

                        <tr class="cart-item">
                            <td class="goods">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY6F-1K32fpYChgdu2kNt7UTT3Tf_67M4fZw&s"
                                    class="product-img" />
                                <div class="product-info">
                                    <span class="product-name">เสื้อยืด-แขนยาว</span>
                                    <span>สี เขียว</span>
                                    <span>ไซส์ M</span>
                                </div>
                            </td>

                            <td class="quantity">
                                <button class="minus" type="button" onclick="updateQuantity(this, -1)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0d0d0d"
                                        viewBox="0 0 256 256">
                                        <path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z">
                                        </path>
                                    </svg>
                                </button>
                                <span class="amount">1</span>
                                <button class="plus" type="button" onclick="updateQuantity(this, 1)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0d0d0d"
                                        viewBox="0 0 256 256">
                                        <path
                                            d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z">
                                        </path>
                                    </svg>
                                </button>
                            </td>

                            <td class="price">
                                <span class="unitPrice">฿60.00</span>
                                <br>
                                <a href="#" class="remove">ลบออก</a>
                            </td>
                        </tr>

                        <tr class="cart-item">
                            <td class="goods">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY6F-1K32fpYChgdu2kNt7UTT3Tf_67M4fZw&s"
                                    class="product-img" />
                                <div class="product-info">
                                    <span class="product-name">เสื้อยืด-แขนสั้น</span>
                                    <span>สี แดง</span>
                                    <span>ไซส์ L</span>
                                </div>
                            </td>

                            <td class="quantity">
                                <button class="minus" type="button" onclick="updateQuantity(this, -1)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0d0d0d"
                                        viewBox="0 0 256 256">
                                        <path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z">
                                        </path>
                                    </svg>
                                </button>
                                <span class="amount">1</span>
                                <button class="plus" type="button" onclick="updateQuantity(this, 1)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0d0d0d"
                                        viewBox="0 0 256 256">
                                        <path
                                            d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z">
                                        </path>
                                    </svg>
                                </button>
                            </td>

                            <td class="price">
                                <span class="unitPrice">฿80.00</span>
                                <br>
                                <a href="#" class="remove">ลบออก</a>
                            </td>
                        </tr>

                    </table>
                </div>

                <div>
                    <div class="order">
                        <button class="order-button">สั่งซื้อสินค้า</button>
                    </div>

                    <div class="discount">
                        <label>
                            <input type="text" id="discountCode" placeholder="กรอกโค้ดส่วนลด (ถ้ามี)">
                            <button id="applyDiscount">
                                <svg width="48" height="48" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_171_192)">
                                        <path d="M11.7938 11.9408H10.7563V13.1689H11.7938V11.9408Z" fill="#0088DD"
                                            fill-opacity="0.7" />
                                        <path
                                            d="M17.0945 13.4285C17.0945 12.5288 16.3478 11.7909 15.4564 11.7909C14.5569 11.7909 13.8188 12.52 13.8188 13.4285C13.8188 14.3466 14.5569 15.0661 15.4564 15.0661C16.3477 15.0661 17.0945 14.3376 17.0945 13.4285ZM14.7457 13.4285C14.7457 13.0327 15.0696 12.7176 15.4564 12.7176C15.8434 12.7176 16.1671 13.0325 16.1671 13.4285C16.1671 13.8245 15.8434 14.1394 15.4564 14.1394C15.0696 14.1394 14.7457 13.8246 14.7457 13.4285Z"
                                            fill="#0088DD" fill-opacity="0.7" />
                                        <path d="M11.7938 16.8531H10.7563V18.0809H11.7938V16.8531Z" fill="#0088DD"
                                            fill-opacity="0.7" />
                                        <path
                                            d="M18.8204 11.5611L15.3438 18.0977L16.2598 18.5849L19.7364 12.0483L18.8204 11.5611Z"
                                            fill="#0088DD" fill-opacity="0.7" />
                                        <path d="M11.7938 14.3967H10.7563V15.6245H11.7938V14.3967Z" fill="#0088DD"
                                            fill-opacity="0.7" />
                                        <path
                                            d="M19.6829 15.0124C18.7832 15.009 18.0422 15.7355 18.0391 16.6443C18.0355 17.5622 18.771 18.285 19.6713 18.2887C20.5625 18.2918 21.3115 17.5653 21.3151 16.6565C21.3182 15.7563 20.5741 15.0156 19.6829 15.0124ZM19.6769 17.3615C19.2904 17.3615 18.9662 17.0464 18.9662 16.6503C18.9662 16.2543 19.2904 15.9396 19.6769 15.9396C20.0639 15.9396 20.3881 16.2542 20.3881 16.6503C20.3881 17.0464 20.0639 17.3615 19.6769 17.3615Z"
                                            fill="#0088DD" fill-opacity="0.7" />
                                        <path
                                            d="M14.9997 0C6.7157 0 0 6.7157 0 15C0 23.2841 6.7157 30 14.9997 30C23.2841 30 30 23.2838 30 15C30 6.7157 23.2841 0 14.9997 0ZM23.8489 18.5004C23.8489 19.3049 23.1027 19.9572 22.1828 19.9572H11.7938V19.3088H10.7563V19.9572H7.8175C6.8973 19.9572 6.1511 19.3046 6.1511 18.5004V11.5209C6.1511 10.7166 6.8973 10.0643 7.8175 10.0643H10.7563V10.7127H11.7938V10.0643H22.1828C23.1028 10.0643 23.8489 10.7166 23.8489 11.5209V18.5004Z"
                                            fill="#0088DD" fill-opacity="0.7" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_171_192">
                                            <rect width="30" height="30" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </button>
                        </label>
                        <div id="discountMessage"></div>
                    </div>

                    <div class="message">
                        <label for="">
                            <textarea id="message" name="message" rows="10" cols="20"
                                placeholder="เพิ่มข้อความถึงร้านค้า"></textarea>
                        </label>
                    </div>

                </div>
            </div>
        </div>

        <%- include("footer"); %>
            <script src="js/utilities.js"></script>
            <script src="js/cart.js"></script>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart | JPBAN</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        .no-items {
            color: #9e9e9e !important;
            font-size: 1.6rem;
            font-weight: 400;
        }
    </style>
</head>

<body>
    <%- include("nav_res"); %>
    <%- include("navbar"); %>

    <div class="cart">
        <a class="carth1" href="/home">
            <div class="arrow-left"></div>
            เลือกซื้อสินค้าเพิ่ม
        </a>
        <div class="cartinfo">
            <div id="price">
                <span>ราคาสุทธิ</span>
                &nbsp;
                <span id="originalPrice">฿0.00</span>
            </div>
            <p>ราคานี้ยังไม่รวมค่าจัดส่งเริ่มสั่งซื้อ</p>

            <div class="cartTable">
                <table id="cartTable">
                    <tbody>
                        <% if (customcart && customcart.items.length > 0) { %>
                            <% customcart.items.forEach(cartItem => { %>
                                <tr class="cart-item" data-product-id="<%= cartItem.baseProductId._id %>">
                                    <td class="goods">
                                        <img src="" class="product-img" />
                                        <div class="product-info">
                                            <span class="product-name">สินค้าสั่งทำพิเศษ</span>
                                            <span>สี: 
                                                <span style="background-color: <%= cartItem.selectedColor %>; padding: 0 10px; border-radius: 4px;">&nbsp;</span>
                                            </span>
                                            <span>ชนิดผ้า: <%= cartItem.fabric %></span>
                                            <span>รอบอก <%= cartItem.measurements.chest %> นิ้ว</span>
                                            <span>ความยาว <%= cartItem.measurements.length %> นิ้ว</span>
                                            <% if (cartItem.additionalInfo) { %>
                                                <span>รายละเอียดเพิ่มเติม: <%= cartItem.additionalInfo%></span>
                                            <% } %>
                                        </div>
                                    </td>
                                    <td class="quantity">
                                        <button class="minus" type="button" onclick="updateQuantity(this, -1)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0d0d0d"
                                                viewBox="0 0 256 256">
                                                <path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z"></path>
                                            </svg>
                                        </button>
                                        <span class="amount"><%= cartItem.quantity %></span>
                                        <button class="plus" type="button" onclick="updateQuantity(this, 1)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0d0d0d"
                                                viewBox="0 0 256 256">
                                                <path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"></path>
                                            </svg>
                                        </button>
                                    </td>
                                    <td class="price-E">
                                        ฿ ราคาสินค้าจะต้องรอการประเมินจากผู้ขาย
                                    </td>
                                    <td class="basket">
                                        <a href="javascript:void(0)" onclick="removeCustomProduct('<%= cartItem._id %>', this)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#eb000c" viewBox="0 0 256 256">
                                                <path d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z"></path>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="4" class="no-items">ไม่มีสินค้าสั่งทำพิเศษในตะกร้า</td>
                            </tr>
                        <% } %>
                        

                        <% if (cart && cart.items && cart.items.length > 0) { %>
                            <% cart.items.forEach(item => { %>
                                <tr class="cart-item" data-product-id="<%= item.productId._id %>">
                                    <td class="goods">
                                        <img src="<%= item.productId.image %>" class="product-img" />
                                        <div class="product-info">
                                            <span class="product-name"><%= item.productId.name %></span>
                                            <span>สี: <%= item.selectedColor %></span>
                                            <span>ไซส์: <%= item.selectedSize %></span>
                                        </div>
                                    </td>
                                    <td class="quantity">
                                        <button class="minus" type="button" onclick="updateQuantity(this, -1)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0d0d0d"
                                                viewBox="0 0 256 256">
                                                <path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z"></path>
                                            </svg>
                                        </button>
                                        <span class="amount"><%= item.quantity %></span>
                                        <button class="plus" type="button" onclick="updateQuantity(this, 1)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#0d0d0d"
                                                viewBox="0 0 256 256">
                                                <path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"></path>
                                            </svg>
                                        </button>
                                    </td>
                                    <td class="price">
                                        ฿<%= (item.productId.price).toFixed(2) %>
                                    </td>
                                    <td class="basket">
                                        <a href="javascript:void(0)" onclick="removeFromCart('<%= item._id %>', this)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#eb000c"
                                                viewBox="0 0 256 256">
                                                <path d="M216,48H176V40a24,24,0,0,0-24-24H104A24,24,0,0,0,80,40v8H40a8,8,0,0,0,0,16h8V208a16,16,0,0,0,16,16H192a16,16,0,0,0,16-16V64h8a8,8,0,0,0,0-16ZM96,40a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96Zm96,168H64V64H192ZM112,104v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm48,0v64a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Z"></path>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            <% }) %>
                        <% } else { %>
                            <tr><td colspan="4" class="no-items">ไม่มีสินค้าแบบแนะนำในตะกร้า</td></tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div>
                <div class="order">
                    <button class="order-button" onclick="handleOrder()">สั่งซื้อสินค้า</button>
                </div>

                <div class="discount">
                    <label>
                        <input type="text" id="discountCode" placeholder="กรอกโค้ดส่วนลด (ถ้ามี)">
                        <button id="applyDiscount">
                            <svg width="48" height="48" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_171_192)">
                                    <path d="M11.7938 11.9408H10.7563V13.1689H11.7938V11.9408Z" fill="#0088DD" fill-opacity="0.7" />
                                    <path d="M17.0945 13.4285C17.0945 12.5288 16.3478 11.7909 15.4564 11.7909C14.5569 11.7909 13.8188 12.52 13.8188 13.4285C13.8188 14.3466 14.5569 15.0661 15.4564 15.0661C16.3477 15.0661 17.0945 14.3376 17.0945 13.4285ZM14.7457 13.4285C14.7457 13.0327 15.0696 12.7176 15.4564 12.7176C15.8434 12.7176 16.1671 13.0325 16.1671 13.4285C16.1671 13.8245 15.8434 14.1394 15.4564 14.1394C15.0696 14.1394 14.7457 13.8246 14.7457 13.4285Z" fill="#0088DD" fill-opacity="0.7" />
                                    <path d="M11.7938 16.8531H10.7563V18.0809H11.7938V16.8531Z" fill="#0088DD" fill-opacity="0.7" />
                                    <path d="M18.8204 11.5611L15.3438 18.0977L16.2598 18.5849L19.7364 12.0483L18.8204 11.5611Z" fill="#0088DD" fill-opacity="0.7" />
                                    <path d="M11.7938 14.3967H10.7563V15.6245H11.7938V14.3967Z" fill="#0088DD" fill-opacity="0.7" />
                                    <path d="M19.6829 15.0124C18.7832 15.009 18.0422 15.7355 18.0391 16.6443C18.0355 17.5622 18.771 18.285 19.6713 18.2887C20.5625 18.2918 21.3115 17.5653 21.3151 16.6565C21.3182 15.7563 20.5741 15.0156 19.6829 15.0124ZM19.6769 17.3615C19.2904 17.3615 18.9662 17.0464 18.9662 16.6503C18.9662 16.2543 19.2904 15.9396 19.6769 15.9396C20.0639 15.9396 20.3881 16.2542 20.3881 16.6503C20.3881 17.0464 20.0639 17.3615 19.6769 17.3615Z" fill="#0088DD" fill-opacity="0.7" />
                                    <path d="M14.9997 0C6.7157 0 0 6.7157 0 15C0 23.2841 6.7157 30 14.9997 30C23.2841 30 30 23.2838 30 15C30 6.7157 23.2841 0 14.9997 0ZM23.8489 18.5004C23.8489 19.3049 23.1027 19.9572 22.1828 19.9572H11.7938V19.3088H10.7563V19.9572H7.8175C6.8973 19.9572 6.1511 19.3046 6.1511 18.5004V11.5209C6.1511 10.7166 6.8973 10.0643 7.8175 10.0643H10.7563V10.7127H11.7938V10.0643H22.1828C23.1027 10.0643 23.8489 10.7169 23.8489 11.5209V18.5004Z" fill="#0088DD" fill-opacity="0.7" />
                                </g>
                            </svg>
                        </button>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer"); %>
    <script src="js/utilities.js"></script>
    <script src="js/cart.js"></script>
</body>

</html>